.meet-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
}

.day-week {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.meet-week {
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}